/* --------- Copy/paste from http://aurelio.net/include/clean-2012/base.css */

/* http://meyerweb.com/eric/tools/css/reset/ - EDITED */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, code,
del, em, img, s,
small, strike, strong, sub, sup,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------- basic */

b, strong {
	font-weight: bold;
}
i, em {
	font-style: italic;
}
ul {
	list-style-type: square;
}
ol {
	list-style-type: decimal;
}
hr {
	border-style: solid;
	border-width: 1px 0 0 0;
}

/* ------------------------- fonts */

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #444;
	font-size: 16px;
	line-height: 1.5em;
}
pre, code {
	font-family: Courier New, monospace;
	font-size: 14px;
}

/* ------------------------- links */

a:hover {
	text-decoration: underline;
	color: red;
}
h2 a, h3 a {
	color: inherit;
	text-decoration: none;
}

/* ------------------------- headers */

h1, h2, h3 {
	line-height: 1.1em;
}
h1, h2 {
	color: #333;  /* darker */
}

/* ------------------------- spacing */

h1, h2, h3, p, blockquote, ul, ol, dt, dd, pre, table, hr {
	margin-bottom: 16px;
}
ul ul, ol ol, ul pre, ol pre {  /* nested */
	margin-bottom: 0;
}
blockquote, ol, ul, dd {
	margin-left: 1em;
}
table {
	margin: 24px auto;  /* 16px is not enough */
}

/* ------------------------- footer */

#footer {
	margin-top: 2em;
	margin-bottom: 3em;
}
.footer-col {
	float: left;
	margin-right: 60px;
/*	width:33%;*/
}
.footer-col.last {
	margin-right: 0;
}
#footer h4 {
	color: gray;
}
#footer ul {
	list-style: none;
	margin-left: 0;
}
#footer a {
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#footer-home {
	float: left;
}
#footer-twitter {
	float: right;
}

/* ------------------------- special */

pre {
	overflow: auto;
}
tr:hover td {
	background: #eee;
}
img {
	max-width: 100%;
}
p img {
	display: block;
	margin: 0 auto;
	background-color: #eee;
	padding: 5px;
	border: 1px solid #ddd;
}
.inline p img {
	display: inline;
	margin-right: 10px;
	margin-bottom: 10px;
	vertical-align: top;
}
.inline {
	text-align: center;
}
.multicol-3 {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
}

/* ------------------------- iPhone = 320x480 */

@media screen and (max-width: 480px) {
	body {
		padding: 10px;
		margin: 0;
	}
	.toc, #footer {
		line-height: 200%;
	}
	.mobile-multicol-2 {
		-moz-column-count: 2 !important;
		-webkit-column-count: 2 !important;
		column-count: 2 !important;
	}
	p img {
		padding: 0;
		border-width: 0;
	}
	.inline p img {
		display: block;
		margin: 0 auto 16px auto;
	}
}



/****************************************************************************/
/* ------ Copy/paste from http://aurelio.net/include/clean-2012/article.css */

body {
	padding: 4em 10%;
	margin: 0 auto;
	max-width: 33em;
}
.toc {
/*	line-height: 175%;*/
	line-height: 150%;
	border: 1px solid black;
	border-width: 1px 0;
	margin-top: 32px;
	padding-top: 16px;
	margin-bottom: 16px;
}
.toc ul {
	list-style-type: none;
}
.toc > ul {
	margin-left: 0;
}
.toc a {
	text-decoration: none;
}
.toc a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
/*	margin: 0.5em 0;*/
}
#header {
	margin-bottom: 32px;  /* 2em */
}
#header h1 {
	margin: 0;
}
#header h2 {
	margin-top: 16px;
	font-size: 1.5em;
	font-weight: normal;
}
#header h3 {
	margin-top: 16px;
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	color: #888;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.7em;
	margin-top: 1.5em;
}
h3 {
	font-weight: bold;
}

blockquote {
	font-style: italic;
}
td, th {
	border-bottom: 1px solid #ccc;
	padding: 0 4px;
}
th {
	font-style: italic;
	background-color: #eee;
}
table {
	font-size: 15px;
}

/* ------------------------- my head */

.cabecao {
	position:fixed;
	right:0;
	bottom:0;
}
.cabecao img {
	padding:2px;
	width: 38px;
	height: 45px;
	/* orig: 57x68 */
}

/* UI colors in main headers and i */
body.portable #header h1,
body.portable h2,
body.portable i {
	color: #4D8A68;
}
body.browser #header h1,
body.browser h2,
body.browser i {
	color: #E89E00;
}
body.cloud #header h1,
body.cloud h2,
body.cloud i {
	color: #2B97E9;
}
body.beta #header h1,
body.beta h2,
body.beta i {
	color: black;
}
body.portable #header h1,
body.browser  #header h1,
body.cloud    #header h1,
body.beta     #header h1 {
	font-weight: bold;
}

/* about */
.heart-list ul {
	list-style-image: url(heart.png);
}



/* ------------------------- iPhone = 320x480 */

@media screen and (max-width: 480px) {
	body {
		padding: 10px;
		margin: 0;
	}
	.toc, #footer {
		line-height: 200%;
	}
	.cabecao {
		display: none;
	}
}






/****************************************************************************/
/* -------------------------------- http://funcoezss.net styles */

body {
    max-width: 40em;  /* wider for cmdlines */
    padding-left: 20%;  /* +space for menu */
    padding-top: 2em;
}
p img {  /* no border */
    padding: 0;
    border-width: 0;
}

/* Boxes - http://themehybrid.com/demo/hybrid/?p=92 (silver, green, yellow)*/
.note     { margin: 1em 0; padding:6px 9px; background:#EEEEEE; border:1px solid #CCC; }
.download { margin: 1em 0; padding:6px 9px; background:#E7F7D3; border:1px solid #6C3; }
.alert    { margin: 1em 0; padding:6px 9px; background:#FFFBBC; border:1px solid #E6DB55; }
.note p, .download p, .warning p, .alert p { margin: 0; }

#footer {
    text-align: right;
    font-size: 80%;
    margin-top: 4em;
}

/* ------------------------------- COMMAND LINE */

pre {
    padding: 3px 0 3px 5px;
    background-color: black;
    color: #ccc;
    line-height:130%;
    clear: both;
}
pre.light {
    padding: 0;
    background: none;
    color: black;
}
.prompt {
    color: lime;
}
.command {
    color: white;
}
.comment {
    color: orange;
    color: #ccc;
    font-style: italic;
}
.command-zz,
.command-zz a {
    color: orange;
    text-decoration: none;
}
.command-zz a:hover {
    text-decoration: underline;
}
/* monospaced */
pre, code, .menu {
    font-family: Courier, monospace;
    font-size: 13px;
}


/* --------------------------------------- MENU */

.menu {
    line-height: 130%;
    position: fixed;
    top: 5px;
    left: 5px;
}
.menu a {
    color: blue;
    text-decoration: none;
}
.menu a:hover {
    color: red;
    text-decoration: underline;
}
.menu p {
    margin: 0 0 0.5em 0;
}
.menu ol,
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu ul {
    padding-left: 0.5em;
    padding-left: 8px;
}
