body {
    max-width: 40em;  /* wider for cmdlines */
    padding-left: 20%;  /* +space for menu */
    padding-top: 2em;
}
p img {  /* no border */
    padding: 0;
    border-width: 0;
}

/* Boxes - http://themehybrid.com/demo/hybrid/?p=92 (silver, green, yellow)*/
.note     { margin: 1em 0; padding:6px 9px; background:#EEEEEE; border:1px solid #CCC; }
.download { margin: 1em 0; padding:6px 9px; background:#E7F7D3; border:1px solid #6C3; }
.alert    { margin: 1em 0; padding:6px 9px; background:#FFFBBC; border:1px solid #E6DB55; }
.note p, .download p, .warning p, .alert p { margin: 0; }

#footer {
    text-align: right;
    font-size: 80%;
    margin-top: 4em;
}

/* ------------------------------- COMMAND LINE */

pre {
    padding: 3px 0 3px 5px;
    background-color: black;
    color: #ccc;
    line-height:130%;
    clear: both;
}
.prompt {
    color: lime;
}
.command {
    color: white;
}
.comment {
    color: orange;
    color: #ccc;
    font-style: italic;
}
.command-zz,
.command-zz a {
    color: orange;
    text-decoration: none;
}
.command-zz a:hover {
    text-decoration: underline;
}
/* monospaced */
pre, code, .menu {
    font-family: Courier, monospace;
    font-size: 13px;
}


/* --------------------------------------- MENU */

.menu {
    line-height: 130%;
    position: fixed;
    top: 5px;
    left: 5px;
}
.menu a {
    color: blue;
    text-decoration: none;
}
.menu a:hover {
    color: red;
    text-decoration: underline;
}
.menu p {
    margin: 0 0 0.5em 0;
}
.menu ol,
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu ul {
    padding-left: 0.5em;
    padding-left: 8px;
}


/* -------------------------------- CUSTOM PAGES */

#list td {
    font-size: 85%;
}

#man h2 span {
    float: right;
    font-size: 50%;
}
#man h2 span a {
    text-decoration: underline;
}
#man h2 span a:link {
    color: blue;
}
#man h2 span a:visited {
    color: purple;
}
#man pre {
    background-color: #eee;
    color: black;
}

#changelog h2 {
    font-weight: bold;
    border-top: 1px solid gray;
    padding-top: 1em;
}
#changelog h2 .info {
    padding-left: 10px;
    font-size: 50%;
    font-weight: normal;
    color: gray;
    font-style: italic;
}
#changelog h2 .info a {
    text-decoration: underline;
}
#changelog #content li {
    font-size: 85%;
}
#changelog .zzlink {
    text-decoration: none;
    font-weight: bold;
}
#changelog .zzlink:hover {
    text-decoration: underline;
}

#premio pre,
#recompensa pre {
    padding: 0;
    background: none;
    color: black;
}


#aovivo .a { color:green; font-family:monospace; }
#aovivo .t { color:blue;  font-family:monospace; }
