---
title: zz --help — O manual das Funções ZZ
title_suffix: false
redirect_from: /zzajuda.html
---

<style>
    #content h2 span {
        float: right;
        font-size: 50%;
    }
    #content h2 span a {
        text-decoration: underline;
    }
    #content h2 span a:link {
        color: blue;
    }
    #content h2 span a:visited {
        color: purple;
    }
    #content pre {
        background-color: #eee;
        color: black;
    }
</style>


<div class="toc">
    <ul>
    {% for item in site.data.help %}
        <li><a href="#{{ item[0] }}">{{ item[0] }}</a></li>
    {% endfor %}
    </ul>
</div>


{% for item in site.data.help %}

<h2 id="{{ item[0] }}">{{ item[0] }} <span><a href="https://github.com/funcoeszz/funcoeszz/blob/master/zz/{{ item[0] }}.sh">código no GitHub</a> →</span></h2>

<pre>
{{ item[1] | escape }}
</pre>

{% endfor %}
